@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600"); /*$*/
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/*LOGO*/
$image-logo-image: '//sourcewellmn.tfaforms.net/forms/get_image/4/z0R2a9o1GnzJxDgVPSbtXC3jCRbWlZTVhlulC6uO6aBt2eAH7nu4CpKe8CRfE1ig-Sourcewell_logo1_cropped.jpg';
/*$length-logo-height: 30;*/

/*PALETTE*/
$color-palette-primary-steel-blue: #506D85;
$color-palette-primary-dark-orange: #EA7600;

$color-palette-neutral-body-text: #455A64;
$color-palette-neutral-60-steel-blue: #8196A7;
$color-palette-neutral-30-steel-blue: #B6C1CB;
$color-palette-neutral-15-steel-blue: #D7DCE1;
$color-palette-neutral-background: #EFF2F4;
$color-palette-neutral-light-background: #F7F8F9;

$color-palette-active-button: #027ABB;
$color-palette-active-hover: #06669D;
$color-palette-active-link: #027ABB;

$color-palette-error: #FF020B;
$color-palette-white: #ffffff;

/*TYPOGRAPHY*/
$font-type-font: 'Source Sans Pro';
$text-type-body-4: 400 12px/18px;
$text-type-body-3: 400 16px/24px;
$text-type-body-2: 400 18px/30px;
$text-type-body-1: 400 20px/32px;
$text-type-head-4: 600 24px/36px;
$text-type-head-3: 400 28px/38px;
$text-type-head-2: 300 42px/48px;
$text-type-head-1: 300 50px/60px;
$text-type-link-decoration: none;
$text-type-link-hover-decoration: underline;

/*FORM*/
$color-form-background-color: $color-palette-white;

/*INPUTS*/
$length-input-border-radius: 0.25rem;
$color-input-background-color: $color-palette-white;

/*BUTTONS*/
$length-button-border-radius: 0.7rem;
$color-button-hover-text-color: $color-palette-white;
$color-button-hover-background-color: $color-palette-active-hover;
$length-button-padding-y: 15px;
$length-button-padding-x: 45px;

/*---------------------*/
/*Combatting some phantom BS*/
body:not(.drag) #preview .hover:not(.selected):not(tr):before {
  display: none !important;
}

.wFormContainer {
  .wFormHeader {
    display: flex;
    height: 60px;
    background: url($image-logo-image) no-repeat left;
    /*background-position-y: calc($length-logo-height * -0.5)+ unquote("px")*/
    border-bottom: 2px solid $color-palette-primary-dark-orange;
    margin-bottom: 3em;
  }

  .wForm {
    display: flex;
    /* prevents margin collapse on form title */
    flex-direction: column;
    padding: 0 !important;
    margin-top: 1em;
    border: none;
    font: $text-type-body-3 $font-type-font;
    color: $color-palette-neutral-body-text;

    h1, h2, h3, h4, .wFormTitle {
      color: $color-palette-primary-steel-blue;
    }

    h1,
    .wFormTitle {
      font: $text-type-head-1 $font-type-font;
      padding: 1.75rem 0;
      margin: 0;  
    }

    h2,
    .section.pageSection > h4 {
      font: $text-type-head-2 $font-type-font;
    }

    h3 {
      font: $text-type-head-3 $font-type-font;
    }

    h4,
    legend,
    .group > .label.preField {
      font: $text-type-head-4 $font-type-font;
    }

    a, 
    :link,
    input[type="button"] {
      text-decoration: $text-type-link-decoration;
      color: $color-palette-active-link;
      background: none;
      &:hover {
        text-decoration: $text-type-link-hover-decoration;
        color: $color-palette-active-hover;
      }
    }

    input[type="submit"],
    .primaryAction,
    .wfPageNextButton {
      border-radius: $length-button-border-radius;
      background-color: $color-palette-active-link !important;
      color: $color-palette-neutral-light-background !important;
      margin-top: 1.6em;
      padding: $length-button-padding-y $length-button-padding-x;
      border: none;
      font: $text-type-body-1 $font-type-font;
      font-weight: bold;
      -webkit-appearance: none;

      &:hover {
        color: $color-button-hover-text-color;
        background-color: $color-button-hover-background-color;
      }

      &:disabled {
        color: $color-palette-neutral-30-steel-blue;
        -webkit-appearance: none;
        border-radius: $length-button-border-radius;
        cursor: not-allowed;
      }
    }
  }

  .htmlSection {
    margin: 1em auto;
  }

  .wFormHelp {
    padding: 20px 30px !important;
    min-height: 110px !important;
  }
}

.wFormThankYou {
  padding: 20px 30px !important;
  min-height: 110px !important;
}

.reviewHeader,
.reviewResponse,
.reviewFooter {
  padding: 20px !important;
  background-color: $color-palette-neutral-light-background !important;
  border: none;
  border-radius: $length-input-border-radius !important;
  margin-bottom: 20px !important;
  color: $color-palette-neutral-body-text !important;
}

.saveAndResume {
  font-size: .9em;
}

.saveAndResume input[type='text'],
.saveAndResume input[type='password'],
.required:not(.choices):not(select):not(.wfAutosuggest) {
  font-family: $font-type-font !important;
  color: $color-palette-neutral-body-text !important;
  border: 1px solid $color-palette-neutral-60-steel-blue !important;
  border-radius: $length-input-border-radius !important;
  box-sizing: border-box;
  font-size: 1em !important;
  width: 20em;
  background-color: $color-input-background-color !important;
  padding: 0 !important;
}

.required:not(.choices):not(select):not(.wfAutosuggest) {
  padding: 0 .5rem !important;
}

.saveAndResume input[type='text'],
.saveAndResume input[type='password'],
input[type='text'].validate-email,
input[type='password']#password {
  height: 45px !important;
  padding: 0 .5rem !important;
}

.saveAndResume input[type='text']:focus,
.saveAndResume input[type='password']:focus,
input[type='text'].validate-email:focus,
input[type='password']#password:focus {
  outline-style: none;
  border: 2px solid $color-palette-primary-steel-blue !important;
  color: $color-palette-neutral-body-text;
}

input.primaryAction.slds-button.slds-button--brand.full-width {
  margin-top: 0 !important;
}

.reviewActions {
  margin-top: 1.6em !important;
}

.wForm .fa-search.tt-search,
.wForm .fa-spinner.tt-spinner,
.wForm .fa-times-circle.tt-clear {
  color: $color-palette-neutral-body-text;
}


/* Optional - Apply for FormAssembly hosted forms only. */
.wFormWebPage {
  background-color: $color-form-background-color;
}

@media only screen and (max-width: 600px) {
  .wFormWebPage {
    margin: 0 !important;
    .wForm {
      border-radius: 0;
      padding: 0 !important;
      form {
        padding: 0 1rem 2rem 1rem;
      }
    }
  }
}

/* Mobile Form Container in FB Canvas & Preview */
#preview .mobile form {
  padding: 0 1rem 2rem 1rem;
}


/*HEADER AND LOGO*/
@media only screen and (max-width: 600px) {
  .wFormContainer .wFormHeader {
    margin-left: 0.5em;
  }
}

/*TITLE AND HEADINGS*/

/*Mobile Canvas & Preview in FB*/

@media only screen and (max-width: 600px) {
  .wFormContainer .wForm .wFormTitle {
    margin: 0;
  }

  .wFormContainer .wForm .wFormTitle {
    padding: 1rem !important;
  }
}

/*Mobile Title in FB Canvas & Preview*/

#preview .mobile .wFormTitle {
  padding: 1rem !important;
}

/*SECTIONS*/
.wFormContainer fieldset {
  margin: 1em 0 0.5em 0;
  color: $color-palette-neutral-body-text !important;
  border: none;
}

.wFormContainer fieldset.highlighted {
  border: double !important;
  border-color: $color-palette-primary-steel-blue !important;
}

.wFormContainer .group > .label {
  margin-top: 1em;
}

.htmlSection .htmlContent span {
  font-size: 100% !important;
  line-height: auto;

}

.htmlSection .htmlContent {
  font-size: 100% !important;
  line-height: auto;
}

.wFormContainer fieldset > fieldset:last-child {
  margin-bottom: 0;
}

.wFormContainer .pageSection > *:not([type="hidden"]):last-child {
  margin-bottom: 0;
  color: $color-palette-primary-steel-blue;
}


/*TABLES*/
/* Tables */
.wFormContainer {
  /* Responsive Tables - if the screen size is too small to display the table without horizontal scrolling,
   the table is automatically "stacked". To see the effect, reduce your browser window size. */
}

.wFormContainer table.matrixLayout thead tr.headerRow,
.wFormContainer table.gridLayout thead tr.headerRow {
  background-color: rgba(0, 0, 0, 0.025);
}

.wFormContainer table.matrixLayout thead tr.headerRow th,
.wFormContainer table.gridLayout thead tr.headerRow th {
  height: 2em;
  padding: .25em;
  vertical-align: middle;
}

.wFormContainer table.matrixLayout tbody tr th.headerCol,
.wFormContainer table.gridLayout tbody tr th.headerCol {
  height: 2em;
}

.wFormContainer table.matrixLayout tbody tr:nth-child(odd),
.wFormContainer table.gridLayout tbody tr:nth-child(odd) {
  background-color: transparent;
}

.wFormContainer table.matrixLayout tbody tr:nth-child(even),
.wFormContainer table.gridLayout tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.025);
}

.wFormContainer table.matrixLayout tbody td,
.wFormContainer table.gridLayout tbody td {
  height: 2em;
  padding: .25em;
}

/* in form builder preview, tables have additional invisible rows */
#preview .wFormContainer table.matrixLayout tbody tr:nth-child(n),
#preview .wFormContainer table.gridLayout tbody tr:nth-child(n) {
  background-color: transparent;
}

#preview .wFormContainer table.matrixLayout tbody tr:nth-child(4n),
#preview .wFormContainer table.gridLayout tbody tr:nth-child(4n) {
  background-color: rgba(0, 0, 0, 0.025);
}

/* In form builder scss variable not applied for checkbox labels */
table {
  font: $text-type-body-2;
}


.wForm .gridLayout.stacked {
  margin: 20px 0;
}

.wForm .gridLayout.stacked tr {
  margin: 10px 1rem 10px 0;
  padding: 10px auto;
  width: 92.5%;
}

.wForm .gridLayout.stacked tr td {
  height: auto !important;
}

.wForm .gridLayout.stacked tr td input[type='text'] {
  max-width: 90%;
}


/* Mobile Tables (Grids/ Matrix) in FB Canvas and Preview */

#preview .mobile .matrixLayout,
#preview .mobile .gridLayout {
  margin: 20px 0 !important;
}


/*LABELS*/
.wFormContainer {
  .label {
    font-weight: 400;
    font-family: $font-type-font;
    &.preField {
      line-height: auto;
    }
  }
  .oneChoice .label.postField {
    vertical-align: middle !important;
  }
  .reqMark:after {
    color: $color-palette-error;
  }
  .label span {
    font-size: 100% !important;
  }
}

/*INPUTS*/

/* Main container. Must wrap *all* theme CSS */
.wFormContainer .wForm .inputWrapper input[type='text'],
.wFormContainer .wForm .inputWrapper input[type='password'],
.wFormContainer .wForm .inputWrapper select,
.wFormContainer .wForm .inputWrapper textarea {
  font-family: $font-type-font;
  color: $color-palette-neutral-body-text;
  border: 1px solid $color-palette-neutral-60-steel-blue;
  border-radius: $length-input-border-radius;
  box-sizing: border-box;
  font-size: 1em;
  width: 20em;
  background-color: $color-input-background-color;
}

.wFormContainer .wForm .inputWrapper input[type='text'],
.wFormContainer .wForm .inputWrapper input[type='password'],
.wFormContainer .wForm .inputWrapper input[type='file'],
.wFormContainer .wForm .inputWrapper select:not([multiple]) {
  height: 45px;
  padding: 0 .5rem;
}

.wFormContainer .wForm .inputWrapper select[multiple] {
  width: auto;
}

.wFormContainer .wForm .inputWrapper input[type='file'] {
  border: none !important;
  background: transparent !important;
  max-width: 100%;
}

.wFormContainer .wForm .inputWrapper input[type='file']::-webkit-file-upload-button {
  color: $color-palette-neutral-light-background !important;
  background-color: $color-palette-active-link !important;
  border-radius: $length-input-border-radius !important;
  -webkit-appearance: none !important;
  border: none !important;

}


.wFormContainer .wForm .inputWrapper input[type='file']::-webkit-file-upload-button:hover {
  color: $color-button-hover-text-color !important;
  background-color: $color-button-hover-background-color !important;
}

.wFormContainer .wForm .inputWrapper textarea {
  height: 5em;
  padding: .5rem !important;
}

.wFormContainer .wForm .inputWrapper select option {
  padding: 0.25em .5rem;
  font-family: $font-type-font;
}

.wFormContainer .wForm .inputWrapper textarea:focus,
.wFormContainer .wForm .inputWrapper textarea.required:focus,
.wFormContainer .wForm .inputWrapper input[type='text']:focus,
.wFormContainer .wForm .inputWrapper input[type='text'].required:focus,
.wFormContainer .wForm .inputWrapper input[type='password']:focus,
.wFormContainer .wForm .inputWrapper input[type='password'].required:focus,
.wFormContainer .wForm .inputWrapper select:focus,
.wFormContainer .wForm .inputWrapper select.required:focus {
  outline-style: none;
  border: 2px solid $color-palette-primary-steel-blue !important;
  color: $color-palette-neutral-body-text;
}

/* ------------ */
.wFormContainer .wForm .inputWrapper input[type='radio'] {
  position: absolute;
  opacity: 0;
}

.wFormContainer .wForm .inputWrapper input[type='radio'] ~ .label {
  position: relative;
  cursor: pointer;
  padding: 0;
  margin-top: 0.3em;
  margin-bottom: 0.4em;
}

.wFormContainer .wForm .inputWrapper input[type='radio'] ~ .label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid $color-palette-neutral-60-steel-blue;
  background: $color-input-background-color;
  position: relative;
  top: -1px;
}

.wFormContainer .wForm .inputWrapper input[type='radio']:not(:checked):hover ~ .label:before {
  border: 1px solid $color-palette-neutral-60-steel-blue;
}

.wFormContainer .wForm .inputWrapper input[type='radio']:checked ~ .label:after {
  content: '';
  position: absolute;

  top: 0;
  left: 0;
  border: 5px solid $color-palette-neutral-60-steel-blue;
  background: $color-input-background-color;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.wFormContainer .wForm .inputWrapper input[type='radio']:checked ~ .label:before {
  border: 1px solid rgba(0, 0, 0, 0);
}

.wFormContainer .wForm .inputWrapper input[type='radio']:disabled + .label {
  color: #b8b8b8;
  cursor: auto;
}

.wFormContainer .wForm[dir="rtl"] input[type='radio']:checked ~ .label:after {
  right: 5px;
  top: 5px;
}


/* ------------ */
/* ------------ */
.wFormContainer {
  .wForm {
    .inputWrapper {
      input {
        &[type='checkbox'] {
          position: absolute;
          opacity: 0;
          ~ .label {
            position: relative;
            cursor: pointer;
            padding: 0;
            margin-top: 1em;
            &:before {
              content: '';
              margin-right: 10px;
              display: inline-block;
              vertical-align: text-top;
              width: 18px;
              height: 18px;
              border: 1px solid $color-palette-neutral-60-steel-blue;
              background: $color-input-background-color;
              position: relative;
              top: -1px;
            }
          }
          &:hover ~ .label:before {
            border-color: $color-palette-neutral-60-steel-blue;
          }
          &:checked ~ .label {
            &:before {
              background: $color-palette-neutral-body-text;
            }
            &:after {
              content: '';
              position: absolute;
              left: 5px;
              top: 9px;
              background: $color-input-background-color;
              width: 2px;
              height: 2px;
              box-shadow: 2px 0 0 $color-input-background-color, 4px 0 0 $color-input-background-color, 4px -2px 0 $color-input-background-color, 4px -4px 0 $color-input-background-color, 4px -6px 0 $color-input-background-color, 4px -8px 0 $color-input-background-color;
              transform: rotate(45deg);
            }
          }
          &:disabled + .label {
            color: #b8b8b8;
            cursor: auto;
          }
        }
      }
    }
  }
}

/* ------------ */

.wForm input[type='file'] {
  font-size: 16px !important;
}


@media only screen and (max-width: 600px) {

  .wFormContainer .wForm .inputWrapper select[multiple] {
    width: auto;
    -webkit-appearance: none;
    height: 45px;
  }
}


/* HINTS */
.wFormContainer .field-hint-inactive,
.wFormContainer .field-hint {
  line-height: 100%;
  font-size: 1em;
}

.wFormContainer .field-hint-inactive .hint {
  font-size: 0.85em;
  line-height: 1.75em;
  transition: all 0.25s linear;
}

.wFormContainer .field-hint .hint {
  font-size: 0.85em;
  line-height: 1.75em;
  transition: all 0.25s linear;
}

.wFormContainer .lengthIndicator,
.wFormContainer .count-words {
  font-size: 0.85em;
  margin-top: 2px;
}

#preview #render .wForm .oneField.hintsTooltip .field-hint {
  padding: .3em;
}

.wForm .field-hint-inactive .hint {
  opacity: 1 !important;
}

.wForm .hintsBelow .field-hint, .wform .hintsSide .field-hint {
  opacity: 1 !important;
}


/*AUTOSUGGEST*/
.wFormContainer .wfAutosuggest.tt-hint {
  margin-top: 0;
}

.wFormContainer .wfAutosuggest.tt-input {
  background-color: $color-input-background-color !important;
}

.wFormContainer .tt-spinner {
  top: 0.6rem;
  right: 0.25rem;
}

.tt-menu {
  background-color: $color-input-background-color;
  color: $color-palette-neutral-body-text;
  border-radius: $length-input-border-radius;
}

.tt-suggestion {
  font: $text-type-body-2 $font-type-font;
  color: $color-palette-neutral-body-text !important;
}

/*ERRORS*/
.wFormContainer .oneField.errFld .inputWrapper input[type='text'],
.wFormContainer .oneField.errFld .inputWrapper input[type='password'],
.wFormContainer .oneField.errFld .inputWrapper textarea,
.wFormContainer .oneField.errFld .inputWrapper select {
  border-color: $color-palette-error !important;
}

.wFormContainer .oneField.errFld div.errMsg {
  margin-top: 0.5em;
  color: $color-palette-error;
}

.errorMessage {
  color: $color-palette-error !important;
}

a.errMsg {
  color: $color-palette-error;
  text-decoration: underline;
}

.wFormContainer .errMsg {
  color: $color-palette-error !important;
}

/* Footer */
.wFormContainer .wFormFooter .supportInfo {
  text-align: center;
}

.wFormContainer .wFormFooter .supportInfo a {
  color: $color-palette-neutral-light-background;
}

.wFormContainer .wFormFooter .supportInfo a:hover {
  color: $color-palette-neutral-light-background;
}

.wFormContainer .oneField, .wFormContainer .section {
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Repeatable Section Remove Link (FA-7473) */
.wFormContainer .wForm .removeSpan {
  display: block;
  float: none;
  text-align: right;
}

/* Keep inline float for tables */
.wFormContainer .wForm td .removeSpan {
  display: inline;
  float: right;
  text-align: inherit;
}
